.logo{
    display:block;
    margin:auto;
    width: 90px;
    height: 90px;
}

body{
    height :100vh;
  background-image: linear-gradient(rgb(255,255,255),rgb(106, 40, 120));
}
.container{
    max-width:955px ;
   border:2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: scroll;
    margin-bottom: 23px;
}
.message{
    background-color: white;
    width:24%;
    padding: 10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;

}
.left{
    float :left;
    clear:both;

}
.right{

    float :right;
    clear:both;
}
#send-container{
   text-align: center;
   max-width: 985px;
   width: 100%;
   display:block;
   margin: auto;

}
#messageInp{
    width:92%;
    border:2pxsolid black;
    border-radius:6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height:34px;
}
